<div id="{{e.underlying}}" class="earnings">
  <!-- <h2>{{e.underlying}}</h2> -->
  <table>
    <thead>
      <tr>
        <th colspan="2">{{e.underlying}}</th>
        <th colspan="1">Volume: {{"{:,.0f}".format(e.volume)}}</th>
        <th colspan="5"><a href={{get_url(e.name)}}>{{clean_name(e.name)}}</a> </th>
        <th colspan="5">Put</th>
        <th colspan="1">Price</th>
        <th colspan="5">Call</th>
        <th colspan="1"></th>
      </tr>
      <tr class="header">
        <th>DTE</th>
        <th>Exp.Date</th>
        <th>Reg.Type</th>
        <th>Strangle</th>
        <th>EM Straddle</th>
        <th>EM Implied</th>
        <th>EM Effective</th>
        <th>ATM IV</th>

        <th>Spread (%)</th>
        <th>Mark</th>
        <th>Delta</th>
        <th>Target</th>
        <th>Strike</th>

        <th>Price</th>

        <th>Strike</th>
        <th>Target</th>
        <th>Delta</th>
        <th>Mark</th>
        <th>Spread (%)</th>

        <th>Diagnostics</th>
      </tr>
    </thead>

    <tbody>
      {% for expi in e.expirations: %}
      <tr>
        <td>{{expi.days}}</td>
        <td>{{ "{:04d}-{:02d}-{:02d}".format(expi.date.year, expi.date.month, expi.date.day) }}</td>
        <td>{{ 'REGULAR' if expi.is_regular else 'WEEKLY' }}</td>
        <td class="strangle_cr">{{ "${:.2f}".format(expi.strangle_cr) }}</td>
        <td class="em_straddle">{{ "${:.2f}".format(expi.em_straddle) }}</td>
        <td class="em_implied">{{ "${:.2f}".format(expi.em_implied) }}</td>
        <td class="em_effective">{{ "${:.2f}".format(expi.em_effective) }}</td>
        <td>{{ "{:.1%}".format(expi.atm_iv) }}</td>

        <td>{{ "${:.2f} ({:.0%})".format(expi.put.spread, expi.put.spread_frac) }}</td>
        <td>{{ "${:.2f}".format(expi.put.mark) }}</td>
        <td>{{ "{:.2f}".format(expi.put.delta) }}</td>
        <td class="put-target">{{ "${:.2f}".format(expi.put.target) }}</td>
        <td class="put-strike">{{ "${:.2f}".format(expi.put.strike) }}</td>

        <td class="price">{{ "${:.2f}".format(e.price) }}</td>

        <td class="call-strike">{{ "${:.2f}".format(expi.call.strike) }}</td>
        <td class="call-target">{{ "${:.2f}".format(expi.call.target) }}</td>
        <td>{{ "{:.2f}".format(expi.call.delta) }}</td>
        <td>{{ "${:.2f}".format(expi.call.mark) }}</td>
        <td>{{ "${:.2f} ({:.0%})".format(expi.call.spread, expi.call.spread_frac) }}</td>

        <td class="diagnostics">
          {% for message in expi.diagnostics: %}
          <span class="diagnostic">{{message}}</span></br>
          {% endfor %}
        </td>

      </tr>
      {% endfor %}

      {% if e.diagnostics: %}
      <tr>
        <td colspan="21" class="diagnostics">
          {% for message in e.diagnostics: %}
          <span class="diagnostic">{{message}}</span></br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}

    </tbody>
  </table>

</div>
